body{
    font-family:'Roboto', sans-serif;
}
.headsection{
    background-color:#1E2329;
    height:102px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 2px solid grey;
}
.nav{
    color:white;
    margin:20px;    
}
.nav>li{
    padding:20px;
    display:inline-block;
}
.footersection{
    background-color:#1E2329;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top: 2px solid grey;
}
#Copyright{
    color:white;
    display:inline-block;
    position:relative;
    right: 15%;
    top: 30%;
    font-size:small;
}
